{
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSameLine": true,
  "importOrder": [
    "react",
    "react-native",
    "<THIRD_PARTY_MODULES>",
    "^src/(.*)$",
    "^/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
